.card-container {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  color: #673ab7;
}

.card-action-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}